.button {
    width: 100px;
    height: 100px;
    margin: 10px;
    color: white;
    border: 0;
    border-radius: 5px;
}

.primary {
    background-color: purple;
}

.secondary {
    background-color: green;
}

.success {
    background-color: greenyellow;
}

.danger {
    background-color: red;
}